@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: green;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  font-family: "Protest Riot", sans-serif;
}



.message-body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('./Assets/bg.jpg') center repeat-x;
  opacity: 0.5; 
}
